
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Home/Demo.cshtml";
}

<style>
    @@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700);
    @@import url('../../Content/signup.css');
    @@import url('../../Content/formhack.css');
</style>
<div class="container">
    @using(Html.BeginForm("ChangePassword", "Home", FormMethod.Post, new { @id = "registration", @class = "registration" })) {
        <h1>Change Password</h1>

        <label for="username">
            <span>Old Password</span>

            @Html.TextBox("OldPassword", "", new { @id = "oldpassword", @minlength = "8", @maxlength = "100", @required = true, @type = "password" })
            <span style="color:red;">@ViewBag.errorPassword</span>
        </label>
        <label for="password">
            <span>New Password</span>
            @Html.TextBox("Password", "", new { @id = "password", @minlength = "8", @maxlength = "100", @required = true, @type = "password" })
            @*<input type="password" id="password" maxlength="100" minlength="8" required>*@

            <ul class="input-requirements">
                <li>At least 8 characters long (and less than 100 characters)</li>
                <li>Contains at least 1 number</li>
                <li>Contains at least 1 lowercase letter</li>
                <li>Contains at least 1 uppercase letter</li>
                @*<li>Contains a special character (e.g. @@ !)</li>*@
            </ul>
        </label>

        <label for="password_repeat">
            <span>Repeat Password</span>
            <input type="password" id="password_repeat" maxlength="100" minlength="8" required>
        </label>
        <br>
        <input type="submit" value="Sign up for free">
    }
</div>
@if(ViewBag.success == true) {
    <script>alert("Change Password Successfully")</script>
}
<script src="~/Scripts/signup.js"></script>

