
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Home/Demo.cshtml";
}

<main id="main" role="main" class="content " data-bi-name="content" lang="en-us" dir="ltr">

    <h1 id="introduction-to-c">Introduction to C#</h1>
    <nav id="center-doc-outline" class="doc-outline is-hidden-desktop" data-bi-name="intopic toc" role="navigation" aria-label="Article Outline">
        <h3>In this article</h3>
        <ol>
            <li>
                    <a href="#hello-world">Hello world</a>
            </li>
            <li>
                <a href="#numbers-in-c">Numbers in C#</a>
            </li>
            <li>
                <a href="#branches-and-loops">Branches and loops</a>
            </li>
            <li>
                <a href="#list-collection">List collection</a>
            </li>
            <li>
                <a href="#101-linq-samples">101 Linq Samples</a>
            </li>
        </ol>
    </nav>
    <p>
        The first lessons explain C# concepts using small snippets of code. You'll
        learn the basics of C# syntax and how to work with data types like strings,
        numbers, and booleans. It's all interactive, and you'll be writing and running code
        within minutes. These first lessons assume no prior knowledge of
        programming or the C# language.
    </p>
    <p>You can try these tutorials in different environments. The concepts you'll learn are the same. The difference is which experience you prefer:</p>
    <ul>
        <li><a href="hello-world" data-linktype="relative-path">In your browser, on the docs platform</a>: This experience embeds a runnable C# code window in docs pages. You write and execute C# code in the browser.</li>
        <li><a href="/en-us/learn/paths/csharp-first-steps/" data-linktype="absolute-path">In the Microsoft Learn experience</a>. This learning path contains several modules that teach the basics of C#.</li>
        <li><a href="https://mybinder.org/v2/gh/dotnet/try-samples/main?filepath=hello-csharp%2Fhello-world.ipynb" data-linktype="external">In Jupyter on Binder</a>. You can experiment with C# code in a Jupyter notebook on binder.</li>
        <li><a href="numbers-in-csharp-local" data-linktype="relative-path">On your local machine</a>. After you've explored online, you can <a href="https://dotnet.microsoft.com/download" data-linktype="external">download</a> the .NET Core SDK and build programs on your machine.</li>
    </ul>
    <p>
        All the introductory tutorials following the Hello World lesson are available using
        the online browser experience or <a href="local-environment" data-linktype="relative-path">
            in your own local development
            environment
        </a>. At the end of each tutorial, you decide if you want to continue
        with the next lesson online or on your own machine. There are links
        to help you set up your environment and continue with the next tutorial
        on your machine.
    </p>
    <h2 id="hello-world" class="heading-anchor"><a class="anchor-link docon docon-link" href="#hello-world" aria-labelledby="hello-world"></a><a href="hello-world" data-linktype="relative-path">Hello world</a></h2>
    <p>
        In the <a href="hello-world" data-linktype="relative-path">Hello world</a> tutorial, you'll create the most basic
        C# program. You'll explore the <code>string</code> type and how to work with text. You can also use the path on <a href="/en-us/learn/paths/csharp-first-steps/" data-linktype="absolute-path">Microsoft Learn</a> or <a href="https://mybinder.org/v2/gh/dotnet/try-samples/main?filepath=hello-csharp%2Fhello-world.ipynb" data-linktype="external">Jupyter on Binder</a>.
    </p>
    <h2 id="numbers-in-c" class="heading-anchor"><a class="anchor-link docon docon-link" href="#numbers-in-c" aria-labelledby="numbers-in-c"></a><a href="numbers-in-csharp" data-linktype="relative-path">Numbers in C#</a></h2>
    <p>
        In the <a href="numbers-in-csharp" data-linktype="relative-path">Numbers in C#</a> tutorial, you'll learn
        how computers store numbers and how to perform calculations with different
        numeric types. You'll learn the basics of rounding, and how to perform
        mathematical calculations using C#. This tutorial is also available
        <a href="numbers-in-csharp-local" data-linktype="relative-path">to run locally on your machine</a>.
    </p>
    <p>This tutorial assumes that you've finished the <a href="hello-world" data-linktype="relative-path">Hello world</a> lesson.</p>
    <h2 id="branches-and-loops" class="heading-anchor"><a class="anchor-link docon docon-link" href="#branches-and-loops" aria-labelledby="branches-and-loops"></a><a href="branches-and-loops" data-linktype="relative-path">Branches and loops</a></h2>
    <p>
        The <a href="branches-and-loops" data-linktype="relative-path">Branches and loops</a> tutorial teaches the basics of selecting
        different paths of code execution based on the values stored in variables. You'll learn the
        basics of control flow, which is the basis of how programs make decisions and choose
        different actions. This tutorial is also available
        <a href="branches-and-loops-local" data-linktype="relative-path">to run locally on your machine</a>.
    </p>
    <p>
        This tutorial assumes that you've finished the <a href="hello-world" data-linktype="relative-path">Hello world</a> and
        <a href="numbers-in-csharp" data-linktype="relative-path">Numbers in C#</a> lessons.
    </p>
    <h2 id="list-collection" class="heading-anchor"><a class="anchor-link docon docon-link" href="#list-collection" aria-labelledby="list-collection"></a><a href="list-collection" data-linktype="relative-path">List collection</a></h2>
    <p>
        The <a href="list-collection" data-linktype="relative-path">List collection</a> lesson gives you
        a tour of the List collection type that stores sequences of data. You'll learn how to add and remove items, search for items, and sort the lists. You'll explore different kinds of lists. This tutorial is also
        available <a href="arrays-and-collections" data-linktype="relative-path">to run locally on your machine</a>.
    </p>
    <p>This tutorial assumes that you've finished the lessons listed above.</p>
    <h2 id="101-linq-samples" class="heading-anchor"><a class="anchor-link docon docon-link" href="#101-linq-samples" aria-labelledby="101-linq-samples"></a><a href="https://github.com/dotnet/try-samples/tree/main/101-linq-samples" data-linktype="external">101 Linq Samples</a></h2>
    <p>This sample requires the <a href="https://github.com/dotnet/try/blob/main/README.md#setup" data-linktype="external">dotnet-try</a> global tool. Once you install the tool, and clone the <a href="https://github.com/dotnet/try-samples" data-linktype="external">try-samples</a> repo, you can learn Language Integrated Query (LINQ) through a set of 101 samples you can run interactively. You can explore different ways to query, explore, and transform data sequences.</p>

    <!-- </content> -->

</main>

