
@{
    Layout = null;
}
<!DOCTYPE html>

<html lang="en-US">
<head>
    <title>CSS Tutorial</title>
    <meta charset="utf-8">
    <link href="~/Content/w3schools27.css" rel="stylesheet" />
    <script src="~/Scripts/my-learning.js"></script>
</head>
<body>
    <div class="w3-bar w3-card-2 notranslate" style="position: relative;z-index: 4;font-size: 18px;background-color: white;color:#282A35;padding-left:12px;padding-right:16px;font-family: 'Source Sans Pro', sans-serif;">
        <a href="https://www.w3schools.com" class="w3-bar-item w3-button w3-hover-none w3-left w3-padding-16" title="Home" style="width:77px">
            <i class="fa fa-logo ws-text-green ws-hover-text-green" style="position:relative;font-size:42px!important;"></i>
        </a>

        <a class="w3-bar-item w3-button w3-hide-small barex bar-item-hover w3-padding-24" href="javascript:void(0)" onclick="w3_open_nav('tutorials')" id="navbtn_tutorials" title="Tutorials" style="width:116px">Home<i class="fa fa-caret-down" style="font-size: 20px; display: inline;"></i><i class="fa fa-caret-up" style="display:none"></i></a>

        <a class="w3-bar-item w3-button bar-item-hover w3-padding-24" href="javascript:void(0)" onclick="w3_open()" id="navbtn_menu" title="Menu" style="width:93px">Menu <i class="fa fa-caret-down"></i><i class="fa fa-caret-up" style="display:none"></i></a>

        <div class="w3-right w3-padding-16">
            <a class="w3-bar-item w3-button bar-item-hover w3-right w3-hide-small barex" style="width:140px;border-radius:25px;margin-right:15px" href="https://courses.w3schools.com/" target="_blank" id="cert_navbtn" onclick="ga('send', 'event', 'Courses' , 'Clicked on courses in Default top navigation');" title="Courses">Log in</a>
        </div>
    </div>
    <div style="display: none; position: absolute; z-index: 3; right: 111px; height: 44px; background-color: rgb(40, 42, 53); text-align: right; padding-top: 9px;" id="google_translate_element"></div>

    <div class="w3-card-2 topnav notranslate" id="topnav" style="position: relative; top: 0px;">
        <div style="overflow:auto;">
            <div class="w3-bar w3-left" style="width:100%;overflow:hidden;height:44px">
                <a class="w3-bar-item w3-button" href="/html/default.asp" title="HTML Tutorial" style="padding-left:18px!important;padding-right:18px!important;">C#</a>
            </div>
        </div>
    </div>

    <div class="w3-sidebar w3-collapse" id="sidenav" style="top: 118px; display: none;">
        <div id="leftmenuinner" style="padding-top: 0px;">
            <div id="leftmenuinnerinner" style="background-color:#E7E9EB;">
                <h2 class="left"><span class="left_h2">CSS</span> Tutorial</h2>
                <a target="_top" href="default.asp" class="active">CSS HOME</a>
            </div>
        </div>
    </div>
    <div class="w3-main w3-light-grey" id="belowtopnav" style="margin-left: 220px; padding-top: 0px;">
        <div class="w3-row w3-white">
            <div class="w3-col l10 m12" id="main">
                <div id="mainLeaderboard" style="overflow:hidden;">
                    <div id="snhb-main_leaderboard-0"></div>

                </div>
                <h1>CSS <span class="color_h1">Tutorial</span></h1>
                <hr>
                <h2>Examples in Each Chapter</h2>
                <p>This CSS tutorial contains hundreds of CSS examples.</p>
                <p>With our online editor, you can edit the CSS, and click on a button to view the result.</p>

                <div class="w3-example">
                    <h3>CSS Example</h3>
                    <div class="w3-code notranslate cssHigh">
                        <span class="cssselectorcolor" style="color:brown">
                            body
                            <span class="cssdelimitercolor" style="color:black">{</span><span class="csspropertycolor" style="color:red"><br>&nbsp;&nbsp;background-color<span class="csspropertyvaluecolor" style="color:mediumblue"><span class="cssdelimitercolor" style="color:black">:</span> lightblue<span class="cssdelimitercolor" style="color:black">;</span></span><br></span><span class="cssdelimitercolor" style="color:black">}</span><br>
                            <br>h1
                            <span class="cssdelimitercolor" style="color:black">{</span><span class="csspropertycolor" style="color:red">
                                <br>
                                &nbsp;&nbsp;color<span class="csspropertyvaluecolor" style="color:mediumblue"><span class="cssdelimitercolor" style="color:black">:</span> white<span class="cssdelimitercolor" style="color:black">;</span></span><br>
                                &nbsp;&nbsp;text-align<span class="csspropertyvaluecolor" style="color:mediumblue"><span class="cssdelimitercolor" style="color:black">:</span> center<span class="cssdelimitercolor" style="color:black">;</span></span><br>
                            </span><span class="cssdelimitercolor" style="color:black">}</span><br><br>
                            p
                            <span class="cssdelimitercolor" style="color:black">{</span><span class="csspropertycolor" style="color:red">
                                <br>
                                &nbsp;
                                font-family<span class="csspropertyvaluecolor" style="color:mediumblue"><span class="cssdelimitercolor" style="color:black">:</span> verdana<span class="cssdelimitercolor" style="color:black">;</span></span><br>
                                &nbsp;&nbsp;font-size<span class="csspropertyvaluecolor" style="color:mediumblue"><span class="cssdelimitercolor" style="color:black">:</span> 20px<span class="cssdelimitercolor" style="color:black">;</span></span><br>
                            </span><span class="cssdelimitercolor" style="color:black">}</span>
                        </span>
                    </div>
                </div>
                <hr>
                <h2>CSS Examples</h2>
                <p>
                    Learn from over 300 examples! With our editor, you can edit the CSS, and click on a
                    button to view the result.
                </p>
                <p><a href="css_examples.asp">Go to CSS Examples!</a></p>
                <h2>CSS Exercises and Quiz Test</h2>
                <p><a href="css_exercises.asp" class="ws-btn ws-green w3-round w3-large" style="width:200px;padding:7px 18px">Start CSS Exercises!</a></p>
                

            </div>
            
        </div>
        
    </div>
    @RenderBody();
</body>
</html>
